@import 'variables'

body
  font: 400 1rem/1.56 'Montserrat';
  color: color-primary;

h1, h2, h3, h4, h5, h6
  color: color-primary;
  font-family: 'Montserrat';

h1
  font-size: 30px;
  margin-bottom: (distance/2);

  @media breakpoint-medium
    font-size: 40px;

h2
  line-height 1.1

button, .button
  background-color: color-primary;
  color: color-secondary;
  font-family: 'Montserrat';
  font-weight: 700;

  &:hover
    background-color: color-primary;
    color: #fff

// TODO: design custom ones
.field-input
  display: block;
  position: relative;

  input[type="radio"]
    margin: 0;
    position: relative;
    top: -4px;

    &:checked
      + label
      .chosen
        opacity 1
        color color-primary

    + label
      opacity .90
      color: color-primary;
      font-size: 22px;
      margin: 0 16px;

.material-icons
  font-size: 32px;

.faded
  opacity .90
  color: color-secondary;
  h2
    color: color-secondary;
.chosen
  font-size: 1.2em;
  h2
    color: color-secondary;

.fields
  text-align: center;

  .field-input
    display: inline-block;
    margin: (distance/6) 0;
