@import 'variables'

body
  font: 400 1rem/1.56 'Source Sans Pro';
  color: color-primary;

h1, h2, h3, h4, h5, h6
  color: color-primary;
  font-family: 'Source Sans Pro';
  line-height 1.17

h1
  font-size: 30px;
  margin-bottom: (distance/2);
  font-weight 700

  @media breakpoint-medium
    font-size: 40px;

h2
  font-weight 700

a
  color color-primary
  padding 4px

  &:hover,
  &:focus
    color color-primary
    text-decoration underline

p
  a
    text-decoration underline

    &:hover,
    &focus
      text-decoration none

button, .button
  background-color: color-secondary
  color: color-primary
  font-family: 'Source Sans Pro';
  font-weight: 700;

  &:hover,
  &:focus,
  &:active
    background-color: color-primary;
    color: #fff
    text-decoration none

  .box-light &
    background-color color-primary
    color: #fff

.field-input
  position: relative;

  a
    display: block;
    padding (distance/2) (distance/12)
    font-size 18px

    &:hover
      text-decoration none

    @media breakpoint-medium
      padding (distance/2) (distance/6) (distance/2) (distance * 2/3)
      display inline-block

  .material-icons
    margin-bottom 5px
    display block

    &.checked
      display: none

    @media breakpoint-medium
      display inline-block
      top 28px
      position: absolute;
      left 0
      margin 0 10px 0 0

  &.chosen
    .material-icons
      display none

      &.checked
        display block

        @media breakpoint-medium
          display inline-block

.material-icons
  font-size: 32px;

.row
  .row
    margin 0

[class*="column"] + [class*="column"]:last-child
  float left

input[type="text"]
  height 60px
  padding: 0 20px;
  margin 0

  &:focus
    box-shadow none

.fields
  margin: -20px 0 0 0;

  .field-input
    text-align center
    width: 50%
    float left

.header-branding
  text-align center
  font-size 16px
  padding 6px

  .logo
    display inline-block
    vertical-align middle
    margin-left 10px

    img
      display block
      width 62px


.donate
  color white
  background #3eb14d
  font-size 22px
