@import 'variables'

body
  font: 400 1rem/1.56 'Source Sans Pro';
  color: color-primary;

h1, h2, h3, h4, h5, h6
  color: color-primary;
  font-family: 'Source Sans Pro';
  line-height 1.17

h1
  font-size: 30px;
  margin-bottom: (distance/2);
  font-weight 700

  @media breakpoint-medium
    font-size: 40px;

h2
  font-weight 700

a
  color color-primary

  &:hover
    color color-primary
    text-decoration underline

p
  a
    text-decoration underline

button, .button
  background-color: color-primary;
  color: color-secondary;
  font-family: 'Source Sans Pro';
  font-weight: 700;

  &:hover,
  &:focus,
  &:active
    background-color: color-primary;
    color: #fff
    text-decoration none

.field-input
  position: relative;

  a
    display: block;
    padding (distance/2) (distance/3)
    font-size 24px

    @media breakpoint-medium
      display inline-block

  .material-icons
    top: 6px;
    position: relative;
    margin-right: 10px;

.material-icons
  font-size: 32px;

.row
  .row
    margin 0

[class*="column"] + [class*="column"]:last-child
  float left

.faded
  opacity .30
  color: color-primary;
  h2
    color: color-primary;
.chosen
  font-size: 1.2em;
  h2
    color: color-primary;

input[type="text"]
  padding: 26px 13px;
  margin 0

.fields
  margin: -20px 0 20px 0;

  .field-input
    text-align center
    width: 50%
    float left
