@import 'variables'

.hero-info
  text-align: center;
  padding: distance 0;

  p
    font-size: 18px;

.step-title
  span
    color: color-secondary;

.location
  form
    @media breakpoint-medium
      width: 300px;

.step-actions
  text-align: center;
  padding: distance 0;
