@import 'variables'

.hero-info
  background: color-primary;
  color: color-secondary;
  text-align: center;
  padding: (distance/2) 0 distance;
  margin-bottom: (distance/2);

  h1
    color: color-secondary;
    margin-bottom: (distance/2);

  p
    font-size: 18px;

    @media breakpoint-medium
      font-size 20px

.brand
  display block
  max-width 200px;
  margin 0 auto (distance/3);

.step
  margin-bottom distance;

.step-title
  text-align: center;

  span
    color: color-secondary;
    display: block;
    margin: 0 auto (distance/6);
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border-radius: 50%;
    background: color-primary;
    text-align: center;

    @media breakpoint-medium
      margin 0 20px 0 0;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 38px;
      font-size: 26px;
      position relative
      top -5px

  + .text-center
    font-size: 18px

.step-info
  h2
    font-size 22px

.location
  form
    @media breakpoint-medium
      width: 300px;

.step-actions
  text-align: center;
  padding: distance 0;

  button, .button
    margin: 0;

  .location &
    padding-top 0

.search
  max-width 400px;
  margin 0 auto distance
  position relative

  input
    &:focus
      + .reset
        opacity 1

.faded
  opacity .30
  color: color-primary;

  h2
    opacity .30
    color: color-primary;

.chosen
  font-size: 24px

  h2
    color: color-primary;
    font-size: 26px

.reset
  opacity 0
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 0;
  padding: 6px;
  color rgba(#000, .2)

  &:hover
    color #f00

.listing
  margin: (distance/3) 0 0;
  padding: 0;

  li
    position: relative;
    list-style: inside none;
    margin-bottom: (distance/4);

  .material-icons
    position: absolute;
    top: -3px;
    left: 0;

  p
    padding-left: (distance * 2/3);

.info
  .material-icons
    top: 4px


.map
  padding 0

  @media breakpoint-large
    padding 0 15px

.source
  font-family monospace
  font-size 12px
  text-align right
  margin (distance/4) 0 0
  a
    margin-left 5px

.eq
  @media breakpoint-medium
    display flex

.box
  padding: (distance/2);
  box-sizing: border-box;
  @media breakpoint-medium
    flex: 1;

  .button
    margin: 0;

.box-light
  background: color-secondary

.box-dark
  background: color-primary;
  color: color-secondary;

  h2
    color: color-secondary;

.share
  margin-top distance

.share-actions
  margin: (distance * 3 /4) 0 0;

  .share-cta
    margin: 0 10px 10px 0;

.share-cta
  color: #fff;
  text-align: center;
  padding: 0;
  width: 70px;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  height: 70px;
  line-height: 70px;

  &.fb
    background #3b5998;

  &.tw
    background #1da1f2;

  &.gp
    background: #d73d32;

  &.email
    background #fff
    color color-primary

    .material-icons
      position relative
      top 7px

  &:hover,
  &:focus
    background color-secondary
    color #fff
    text-decoration none

.back
  padding 0
  display inline-block
  height 40px
  font-size 24px

  .material-icons
    position relative
    top 7px
    margin-right 10px

.inform
  h1
    margin (distance/3) 0 (distance/2)
    font-size 56px

h2
  &.message
    text-align center
    margin 0 auto distance
    max-width width-medium

.places
  margin-bottom distance
  @media breakpoint-medium
    display: flex;
    flex-flow: row wrap;

    .place
      box-flex: 0;
      flex: 0 0 50%;
      max-width: 50%;

.place
  background: color-primary;
  color: #fff;
  padding: (distance/3);

  h3
    color color-secondary;

  p
    margin-bottom 10px

  .info
    color color-secondary
    text-decoration none

.label
  background color-secondary
  color color-primary
  position: relative;
  top: -2px;
  margin: 0 10px 0 0;

.distance
  opacity .71
  font-size 14px
  font-family monospace

  strong
    display inline-block
    margin-left 5px

.notice
  font-size 26px

.folder
  text-align center
  .material-icons
    display: block

footer
  margin: distance 0;
  padding: distance 0;

  .soruce
    display block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
