color-primary = #352245;
color-secondary = #ffcc00;

distance = 60px;

breakpoint-small = '(max-width: 39.9375rem)';
breakpoint-medium = '(min-width: 40rem)';
breakpoint-large = '(min-width: 64rem)';

width-medium = 40rem;