@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext');
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

.angular-google-map-container
  height: 600px
.mapWindow
    width:400px;
    h2
        font-size: 16px;
        font-weight:bold;
    span
        margin: 0 10px 0 0 ;
    p
        margin: 0;
