section.inform#information
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      a.back(ui-sref="home")
        i.material-icons &#xE314;
        | Înapoi
      h1 Materiale informaționale:
  .content.row
    .poster.small-12.medium-6.columns
      a(href="images/poster_corespondenta.jpg" target="_blank")
        img(src="images/poster_corespondenta.jpg")
    .poster.small-12.medium-6.columns
      a(href="images/poster_sectie.jpg" target="_blank")
        img(src="images/poster_sectie.jpg")
