section.inform#information
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      a.back(ui-sref="home")
        i.material-icons &#xE314;
        | Înapoi
      h1 Ce poti face in comunitatea ta:
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
  .content.row
    .poster.small-12.columns
      a(href="images/cover-vot-diaspora-1.jpg" target="_blank")
        img(src="images/cover-vot-diaspora-1.jpg")
    .poster.small-12.columns
      a(href="images/cover-vot-diaspora-2.jpg" target="_blank")
        img(src="images/cover-vot-diaspora-2.jpg")
    .poster.small-12.columns
      a(href="images/cover-vot-diaspora-3.jpg" target="_blank")
        img(src="images/cover-vot-diaspora-3.jpg")
    .poster.small-12.medium-6.columns
      a(href="images/poster_corespondenta.jpg" target="_blank")
        img(src="images/poster_corespondenta.jpg")
    .poster.small-12.medium-6.columns
      a(href="images/poster_corespondenta.jpg" target="_blank")
        img(src="images/poster_corespondenta.jpg")

