section.inform#information
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      a.back(ui-sref="home")
        i.material-icons &#xE314;
        | Înapoi
      h1 Ce poti face in comunitatea ta:
      p.intro Am pregătit pentru tine o serie de postere și cover photos pe care le poți descărca de aici și distribui în locurile în care știi că românii le pot vedea (la magazinele românești din localitate, la universitatea la care mergi, în locurile în care te întâlnești cu alți români cel mai des etc. ) și se pot informa corect despre modul în care pot vota în 2016.
  .content.row
    .poster.small-12.medium-6.columns
      a(href="images/poster_corespondenta.jpg" target="_blank")
        img(src="images/poster_corespondenta.jpg")
    .poster.small-12.medium-6.columns
      a(href="images/poster_sectie.jpg" target="_blank")
        img(src="images/poster_sectie.jpg")
    .poster.small-12.columns
      a(href="images/cover-vot-diaspora-1.png" target="_blank")
        img(src="images/cover-vot-diaspora-1.png")
    .poster.small-12.columns
      a(href="images/cover-vot-diaspora-2.png" target="_blank")
        img(src="images/cover-vot-diaspora-2.png")
    .poster.small-12.columns
      a(href="images/cover-vot-diaspora-3.png" target="_blank")
        img(src="images/cover-vot-diaspora-3.png")
    .poster.small-12.medium-6.columns
      a(href="files/poster.pdf" target="_blank")
        img(src="images/poster.jpg")

