ul.info.listing.small-12.medium-offset-2.medium-8.columns
  li
    i.material-icons &#xE88E;
    p.notice
      | Cererea pe care o <a href="https://www.mae.ro/sites/default/files/file/anul_2016/2016_pdf/model_cerere_de-inscriere-in-registrul-electoral.pdf" target="_blank">descarci de aici</a>
    p
      | <strong>ATENȚIE!</strong> Completează obligatoriu și adresa de e-mail și numărul de telefon! Astfel, vei putea fi contactat în cazul unor nereguli.
  li
    i.material-icons &#xE88E;
    p.notice O copie a paginilor cu informații personale (paginile 2-3, unde se menționează și țara de domiciliu)
  li
    p.notice
      i.material-icons &#xE2C7;
      | Odată ce ai dosarul complet trimite-l prin poșta sau depune-l personal la:
