div
    input(type="checkbox" ng-model="vm.debugSteps" ng-true-value="1" ng-false-value="0")
    | Arata toti pasii #debug

section.step.step-user-location(ng-if="vm.debugSteps || vm.step['1'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 1
        | Unde stai?
      .step-content.location
        form(name="find", action="/search", method="post", onsubmit="return false;")
          | Locuiesc in orasul ...
          input(type="text" name="location" id="locate" ng-autocomplete ng-model="vm.city.name" details="vm.city.details" options="vm.city.options")
          input(type="button" value="Reset" ng-click="vm.cityReset()")

        div(ng-if="vm.city.details")
          div(ng-if="!vm.city.markers.length")
            | Pe o raza de 100KM nu am gasit sectii de votare inregistrate. Folositi harta pentru a vedea care e cea mai apropiata ambasada.
          div(ng-if="vm.city.markers.length")
            div(ng-repeat="parameter in vm.city.markers | orderBy: distance" class="locationBox")
              | Departare: {{parameter.distance}}Km
              location-box
        ui-gmap-google-map( center='vm.map.center', bounds='vm.map.bounds', zoom='vm.map.zoom', ng-if='vm.map.center')
          ui-gmap-markers( models="vm.markers" coords="'coords'" icon="'icon'" options="'options'" click="onClicked" )
            ui-gmap-windows( show="'showWindow'" closeClick="'onWindowClose'" templateUrl="'templateUrl'" templateParameter="'texts'" ng-cloak='ng-cloak')
        div Sursa:
          a(href='http://www.mae.ro/maps/3068' target='_blank') http://www.mae.ro/maps/3068
      .step-actions(ng-if="vm.debugSteps || (vm.city.details && !vm.step['2'].visible) ")
        a.button.large(ng-click="vm.activateStep(2)")
          | Inregistreaza-te la vot

section.step.step-user-type(ng-if="vm.debugSteps || vm.step['2'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 2
        | Esti rezident sau domicilat?
      .step-content.row.content
        .fields.small-12.medium-6.columns.show-for-small-only
          .field-input
            a(ng-click="vm.stepChoice(2,1)" ng-class="vm.step['2'].firstChoice") Rezident
          .field-input
            a(ng-click="vm.stepChoice(2,2)" ng-class="vm.step['2'].secondChoice") Domicilat
        .small-12.medium-6.columns
          .field-input.hide-for-small-only
            a(ng-click="vm.stepChoice(2,1)"  ng-class="vm.step['2'].firstChoice") Rezident
          .step-info(ng-class="vm.step['2'].firstChoice")
            h2.show-for-small-only Ca rezident
            p(ng-class="vm.step['2'].firstChoice") Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of the cosmos extraordinary claims require extraordinary evidence paroxysm of global death, tingling of the spine ship of the imagination Sea of Tranquility, star stuff harvesting star light rings of Uranus concept of the number
        .small-12.medium-6.columns
          .field-input.hide-for-small-only
            a(ng-click="vm.stepChoice(2,2)" ng-class="vm.step['2'].secondChoice") Domicilat
          .step-info(ng-class="vm.step['2'].secondChoice")
            h2.show-for-small-only Ca domicilat
            p(ng-class="vm.step['2'].secondChoice") Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of the cosmos extraordinary claims require extraordinary evidence paroxysm of global death, tingling of the spine ship of the imagination Sea of Tranquility, star stuff harvesting star light rings of Uranus concept of the number
      .step-actions(ng-if="!vm.step['3'].visible")
        a.button.large(ng-click="vm.activateStep(3)")
          | Urmatorul pas

section.step.step-user-vote(ng-if="vm.debugSteps || vm.step['3'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 3
        | Prin corespondenta sau la o sectie?
      .step-content.row.content
        .fields.small-12.medium-6.columns.show-for-small-only
          .field-input
            input(type="radio", name="user-vote", require, id="radio-corespondenta")
            label(for="radio-corespondenta") Prin corespondenta
          .field-input
            input(type="radio", name="user-vote", require, id="radio-sectie")
            label(for="radio-sectie") La sectie
        .small-12.medium-6.columns
          .field-input.hide-for-small-only
            input(type="radio", name="user-vote", require, id="radio-corespondenta")
            label(for="radio-corespondenta") Prin corespondenta
          .step-info.faded
            h2.show-for-small-only Prin corespondenta
            ul.compare.listing
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
        .small-12.medium-6.columns
          .field-input.hide-for-small-only
            input(type="radio", name="user-vote", require, id="radio-sectie")
            label(for="radio-sectie") La sectie
          .step-info
            h2.show-for-small-only La sectie
            ul.compare.listing
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of

      .step-actions(ng-if="!vm.step['4'].visible")
        a.button.large(ng-click="vm.activateStep(4)")
          | Urmatorul pas

section.step.step-user-action(ng-if="vm.debugSteps || vm.step['4'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 4
        | Strange actele si depune-le
      .step-content.row
        ul.info.listing.medium-offset-2.medium-8.columns
          li
            i.material-icons &#xE88E;
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
          li
            i.material-icons &#xE88E;
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
          li
            i.material-icons &#xE88E;
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
          li
            i.material-icons &#xE88E;
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
          li
            i.material-icons &#xE88E;
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
      .step-actions(ng-if="!vm.step['5'].visible")
        a.button.large(ng-click="vm.activateStep(5)")
          | Afla mai multe

section.step.step-user-vote(ng-if="vm.debugSteps || vm.step['5'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 5
        | Pana sa ajungi la urne
      .step-content.row
        .more.medium-offset-2.medium-8.columns
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
