div
  input(type="checkbox" ng-model="vm.debugSteps" ng-true-value="1" ng-false-value="0")
  | Arata toti pasii #debug

section.step.step-user-location(ng-if="vm.debugSteps || vm.step['1'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 1
        | Unde stai?

      form.search(name="find", action="/search", method="post", onsubmit="return false;")
        input(type="text" name="location" id="locate" ng-autocomplete ng-model="vm.city.name" details="vm.city.details" options="vm.city.options" placeholder="Locuiesc in orasul ...")
        a(ng-click="vm.cityReset()").reset
          i.material-icons &#xE14C;

    div.small-12.columns(ng-if="vm.city.details")
      h2.message(ng-if="!vm.city.markers.length")
        | Pe o raza de 100km nu am gasit sectii de votare inregistrate. Folositi harta pentru a vedea care e cea mai apropiata ambasada.
      div.places(ng-if="vm.city.markers.length")
        div.place(ng-repeat="parameter in vm.city.markers | orderBy: distance" class="locationBox")
          .distance
            | Distanta:
            strong {{parameter.distance}} km
          location-box

  .content.row
    .small-12.columns
      .step-content.location
        .step-actions(ng-if="vm.debugSteps || (vm.city.details && !vm.step['2'].visible) ")
          a.button.large(ng-click="vm.activateStep(2)")
            | Află cum votezi în străinatate!

    .map.small-12.columns
      ui-gmap-google-map.map( center='vm.map.center', bounds='vm.map.bounds', zoom='vm.map.zoom',  draggable="false" options="vm.map.options" ng-if='vm.map.center')
        ui-gmap-markers( models="vm.markers" coords="'coords'" icon="'icon'" options="'options'" click="onClicked" )
          ui-gmap-windows( show="'showWindow'" closeClick="'onWindowClose'" templateUrl="'templateUrl'" templateParameter="'texts'" ng-cloak='ng-cloak')
      p.source
        | Sursa:
        a(href='http://www.mae.ro/maps/3068' target='_blank') http://www.mae.ro/maps/3068

section.step.step-user-type(ng-if="vm.debugSteps || vm.step['2'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 2
        | Ești rezident sau domicilat?
      .step-content.row.content
        .fields.small-12.medium-6.columns.show-for-small-only
          .field-input(ng-class="vm.step['2'].firstChoice")
            a(ng-click="vm.stepChoice(2,1)" ng-class="vm.step['2'].firstChoice")
              i.material-icons &#xE5CA;
              | Rezident
          .field-input(ng-class="vm.step['2'].secondChoice")
            a(ng-click="vm.stepChoice(2,2)" ng-class="vm.step['2'].secondChoice")
              i.material-icons &#xE5CA;
              | Domicilat
        .small-12.medium-6.columns
          .field-input.hide-for-small-only(ng-class="vm.step['2'].firstChoice")
            a(ng-click="vm.stepChoice(2,1)"  ng-class="vm.step['2'].firstChoice")
              i.material-icons &#xE5CA;
              | Rezident
          .step-info(ng-class="vm.step['2'].firstChoice")
            h2 Ai buletin (carte de identitate) de România?
            p(ng-class="vm.step['2'].firstChoice")
              | Locuiești în străinătate și ești înscris ca rezident în țara în care locuiești? Dacă da, înseamnă că ești cetățean român cu rezidență în străinătate.
        .small-12.medium-6.columns
          .field-input.hide-for-small-only(ng-class="vm.step['2'].secondChoice")
            a(ng-click="vm.stepChoice(2,2)" ng-class="vm.step['2'].secondChoice")
              i.material-icons &#xE5CA;
              | Domicilat
          .step-info(ng-class="vm.step['2'].secondChoice")
            h2 Ai pașaport românesc?
            p(ng-class="vm.step['2'].secondChoice")
              | Este înscris domiciliul în străinatate pe prima pagină a pașaportului? Atunci, înseamnă că ești cetățean român cu domiciliul în străinătate.

      .step-actions(ng-if="vm.step['2'].choice && !vm.step['3'].visible")
        a.button.large(ng-click="vm.activateStep(3)")
          | Următorul pas

section.step.step-user-vote(ng-if="vm.debugSteps || vm.step['3'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 3
        | Ai două opțiuni de vot:
      p
        | Verifică mai jos ce înseamnă fiecare și alege varianta potrivită pentru tine.
      .step-content.row.content
        .fields.small-12.medium-6.columns.show-for-small-only
          .field-input(ng-class="vm.step['3'].firstChoice")
            a(ng-click="vm.stepChoice(3,1)" ng-class="vm.step['3'].firstChoice")
              i.material-icons &#xE5CA;
              | Prin corespondență
          .field-input(ng-class="vm.step['3'].secondChoice")
            a(ng-click="vm.stepChoice(3,2)" ng-class="vm.step['3'].secondChoice")
              i.material-icons &#xE5CA;
              | La secția de votare
        .small-12.medium-6.columns
          .field-input.hide-for-small-only(ng-class="vm.step['3'].firstChoice")
            a(ng-click="vm.stepChoice(3,1)" ng-class="vm.step['3'].firstChoice")
              i.material-icons &#xE5CA;
              | Prin corespondență
          .step-info(ng-class="vm.step['3'].firstChoice")
            h2.show-for-small-only Prin corespondență
            ul.compare.listing
              li
                i.material-icons &#xE86C;
                p Trimiți votul prin poștă.
              li
                i.material-icons &#xE86C;
                p Timp economisit. Nu trebuie să te deplasezi în ziua votului la secția de votare de care aparții
              li
                i.material-icons &#xE86C;
                p Fără stres. Nu stai la coadă pentru a vota în ziua alegerilor.
              li
                i.material-icons &#xE86C;
                p Bani de transport economisiți. Votezi din localitatea în care locuiești.
              li
                i.material-icons &#xE000;
                p În primul rând,  asigură-te că ai completat corect adresa de e-mail și numărul de telefon pe cererea trimisă la Registrul Electoral. În acest fel, vei putea afla în timp util dacă documentele și votul tău au ajuns la destinație
              li
                i.material-icons &#xE000;
                p Dă un telefon/e-mail la Autoritatea Electorală Permanentă(AEP), să afli dacă cererea/documentele tale au ajuns la destinație
              li
                i.material-icons &#xE000;
                p
                  | Nu uita să verifici dacă ai fost înscris pe listele electorale la <a href="http://www.registrulelectoral.ro" target="_blank">www.registrulelectoral.ro</a> la 5 zile după închiderea perioadei de înscriere. (Completează adresa de e-mail la ultimul pas și noi îți trimitem un reminder la închiderea acestei perioade pentru a-ți aminti să verifici dacă ai fost înscris).
              li
                i.material-icons &#xE000;
                p Dacă nu ai fost înscris, vei vota la consulatul, ambasada sau institutul cultural din țara în care te afli.
              li
                i.material-icons &#xE000;
                p Dacă totul a mers strună până aici, nu uita că, după ce ai votat prin corespondență, trebuie să verifici la Autoritatea Electorală Permanentă(AEP) cu trei zile înainte de data alegerilor că votul tău a ajuns la destinație.
        .small-12.medium-6.columns(ng-class="vm.step['3'].secondChoice")
          .field-input.hide-for-small-only(ng-class="vm.step['3'].secondChoice")
            a(ng-click="vm.stepChoice(3,2)" ng-class="vm.step['3'].secondChoice")
              i.material-icons &#xE5CA;
              | La secția de votare
          .step-info(ng-class="vm.step['3'].secondChoice")
            h2.show-for-small-only La secția de votare
            ul.compare.listing
              li
                i.material-icons &#xE86C;
                p Mai puțin stres. Completezi mai puține cereri/acte și trimiți mai puține documente către Registrul electoral.
              li
                i.material-icons &#xE86C;
                p O copie a paginilor cu informații personale și următoarea pagină- unde se menționează țara de domiciliu.
              li
                i.material-icons &#xE000;
                p Anul acesta, MAE a pus la dispoziție doar jumătate din numărul secțiilor de votare din 2014, așa că există posibilitatea să stai la coadă ore în șir pentru a putea vota.
              li
                i.material-icons &#xE000;
                p Dacă nu te mobilizezi pentru a înființa o secție de votare aproape de tine, te vei deplasa la consulatul, ambasada sau institutul cultural din țara în care te afli, ceea ce înseamnă costuri ridicate și timp consumat, dar și șanse mai mici de a reuși să votezi.
              li
                i.material-icons &#xE000;
                p Dacă reușești să informezi cel puțin 100 de români cu privire la beneficiile înregistrării în Registrul Electoral sunt șanse foarte mari să se inființeze o secție de votare pentru voi, în regiunea în care vă aflați pentru a vă putea exprima votul.
              li
                i.material-icons &#xE000;
                p Dacă te înscrii în Registrul Electoral, verifică dacă apari pe listele electorale și la ce secție ai fost arondat. Poți face asta pe <a href="http://www.registrulelectoral.ro" target="_blank">www.registrulelectoral.ro</a>. (Completează adresa de e-mail la la ultimul pas și noi îți trimitem un reminder la închiderea perioadei de înregistrare în Registrul Electoral pentru a-ți aminti să verifici dacă ai fost înscris).

      .step-actions(ng-if="vm.step['2'].choice && !vm.step['4'].visible")
        a.button.large(ng-click="vm.activateStep(4)")
          | Următorul pas

section.step.step-user-action(ng-if="vm.debugSteps || vm.step['4'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 4
        | Strânge actele și depune-le
      .step-content.row
        div(data-ui-view="")

      .step-actions(ng-if="!vm.step['5'].visible")
        a.button.large(ng-click="vm.activateStep(5)")
          | Află mai multe

section.step.step-user-final(ng-if="vm.debugSteps || vm.step['5'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 5
        | Până să ajungi la urne
      .step-content.row
        .more.medium-offset-2.medium-8.columns
          .fb-page(data-href="https://www.facebook.com/Vot-diaspora-301975473481850/" data-tabs="timeline" data-width="320" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true") | cum il fac sa mearga? :)
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
