div
  input(type="checkbox" ng-model="vm.debugSteps" ng-true-value="1" ng-false-value="0")
  | Arata toti pasii #debug

section.step.step-user-location(ng-if="vm.debugSteps || vm.step['1'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 1
        | Unde stai?

      form.search(name="find", action="/search", method="post", onsubmit="return false;")
        input(type="text" name="location" id="locate" ng-autocomplete ng-model="vm.city.name" details="vm.city.details" options="vm.city.options" placeholder="Locuiesc in orasul ...")
        a(ng-click="vm.cityReset()").reset
          i.material-icons &#xE14C;

    div.small-12.columns(ng-if="vm.city.details")
      h2.message(ng-if="!vm.city.markers.length")
        | Pe o raza de 100km nu am gasit sectii de votare inregistrate. Folositi harta pentru a vedea care e cea mai apropiata ambasada.
      div.places(ng-if="vm.city.markers.length")
        div.place(ng-repeat="parameter in vm.city.markers | orderBy: distance" class="locationBox")
          .distance
            | Distanta:
            strong {{parameter.distance}} km
          location-box

  .content.row
    .small-12.columns
      .step-content.location
        .step-actions(ng-if="vm.debugSteps || (vm.city.details && !vm.step['2'].visible) ")
          a.button.large(ng-click="vm.activateStep(2)")
            | Înregistrează-te la vot

    .map.small-12.columns
      ui-gmap-google-map.map( center='vm.map.center', bounds='vm.map.bounds', zoom='vm.map.zoom',  draggable="true" options="vm.map.options" ng-if='vm.map.center')
        ui-gmap-markers( models="vm.markers" coords="'coords'" icon="'icon'" options="'options'" click="onClicked" )
          ui-gmap-windows( show="'showWindow'" closeClick="'onWindowClose'" templateUrl="'templateUrl'" templateParameter="'texts'" ng-cloak='ng-cloak')
      p.source
        | Sursa:
        a(href='http://www.mae.ro/maps/3068' target='_blank') http://www.mae.ro/maps/3068

section.step.step-user-type(ng-if="vm.debugSteps || vm.step['2'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 2
        | Ești rezident sau domicilat?
      .step-content.row.content
        .fields.small-12.medium-6.columns.show-for-small-only
          .field-input(ng-class="vm.step['2'].firstChoice")
            a(ng-click="vm.stepChoice(2,1)" ng-class="vm.step['2'].firstChoice")
              i.material-icons &#xE5CA;
              | Rezident
          .field-input(ng-class="vm.step['2'].secondChoice")
            a(ng-click="vm.stepChoice(2,2)" ng-class="vm.step['2'].secondChoice")
              i.material-icons &#xE5CA;
              | Domicilat
        .small-12.medium-6.columns
          .field-input.hide-for-small-only(ng-class="vm.step['2'].firstChoice")
            a(ng-click="vm.stepChoice(2,1)"  ng-class="vm.step['2'].firstChoice")
              i.material-icons &#xE5CA;
              | Rezident
          .step-info(ng-class="vm.step['2'].firstChoice")
            h2.show-for-small-only Ai buletin (carte de identitate) de România?
            p(ng-class="vm.step['2'].firstChoice") Locuiești în străinătate și ești înscris ca rezident în țara în care locuiești? Deții un ________________? Atunci, înseamnă că ești cetățean român cu rezidență în străinătate.
        .small-12.medium-6.columns
          .field-input.hide-for-small-only(ng-class="vm.step['2'].secondChoice")
            a(ng-click="vm.stepChoice(2,2)" ng-class="vm.step['2'].secondChoice")
              i.material-icons &#xE5CA;
              | Domicilat
          .step-info(ng-class="vm.step['2'].secondChoice")
            h2.show-for-small-only Ai pașaport românesc?
            p(ng-class="vm.step['2'].secondChoice") Este înscris domiciliul în străinatate pe prima pagină a pașaportului? Atunci, înseamnă că ești cetățean român cu domiciliul în străinătate.

      .step-actions(ng-if="vm.step['2'].choice && !vm.step['3'].visible")
        a.button.large(ng-click="vm.activateStep(3)")
          | Următorul pas

section.step.step-user-vote(ng-if="vm.debugSteps || vm.step['3'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 3
        | Prin corespondenta sau la o sectie?
      .step-content.row.content
        .fields.small-12.medium-6.columns.show-for-small-only
          .field-input(ng-class="vm.step['3'].firstChoice")
            a(ng-click="vm.stepChoice(3,1)" ng-class="vm.step['3'].firstChoice")
              i.material-icons &#xE5CA;
              | Prin corespondenta
          .field-input(ng-class="vm.step['3'].secondChoice")
            a(ng-click="vm.stepChoice(3,2)" ng-class="vm.step['3'].secondChoice")
              i.material-icons &#xE5CA;
              | La sectie
        .small-12.medium-6.columns
          .field-input.hide-for-small-only(ng-class="vm.step['3'].firstChoice")
            a(ng-click="vm.stepChoice(3,1)" ng-class="vm.step['3'].firstChoice")
              i.material-icons &#xE5CA;
              | Prin corespondenta
          .step-info(ng-class="vm.step['3'].firstChoice")
            h2.show-for-small-only Prin corespondenta
            ul.compare.listing
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
        .small-12.medium-6.columns(ng-class="vm.step['3'].secondChoice")
          .field-input.hide-for-small-only(ng-class="vm.step['3'].secondChoice")
            a(ng-click="vm.stepChoice(3,2)" ng-class="vm.step['3'].secondChoice")
              i.material-icons &#xE5CA;
              | La sectie
          .step-info(ng-class="vm.step['3'].secondChoice")
            h2.show-for-small-only La sectie
            ul.compare.listing
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE000;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
              li
                i.material-icons &#xE86C;
                p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of

      .step-actions(ng-if="vm.step['2'].choice && !vm.step['4'].visible")
        a.button.large(ng-click="vm.activateStep(4)")
          | Urmatorul pas

section.step.step-user-action(ng-if="vm.debugSteps || vm.step['4'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 4
        | Strange actele si depune-le
      .step-content.row
        div(data-ui-view="")

      .step-actions(ng-if="!vm.step['5'].visible")
        a.button.large(ng-click="vm.activateStep(5)")
          | Afla mai multe

section.step.step-user-vote(ng-if="vm.debugSteps || vm.step['5'].visible")
  .content.row
    .small-12.medium-offset-1.medium-10.columns
      h1.step-title
        span 5
        | Pana sa ajungi la urne
      .step-content.row
        .more.medium-offset-2.medium-8.columns
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
