doctype html
html(lang='en' data-ng-app='votDiaspora')
  head
    meta(charset="utf-8")
    meta(robots="index,follow")
    meta(name='viewport' content='width=device-width,initial-scale=1')

    title Vot Diaspora

    link(rel="shortcut icon" href="favico.png")

    meta(property="og:type" content="article")
    meta(property="og:url" content="http://www.votdiaspora.ro/")
    meta(property="og:title" content="Vot Diaspora")
    meta(property="og:description" content="bla bla need content here")
    meta(property="og:site_name" content="Vot Diaspora")
    meta(property="og:image" content="http://www.votdiaspora.ro/images/share.png")
    meta(property="fb:app_id" content="724152821037227")
    meta(property="article:author" content="Code for Romania")

    script(src="//maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places,visualization&key=AIzaSyCmgEeIhijJe689d_bpjPX9Sf1Bsm5fidU")
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body

    section.hero-info
      .content.row
        .small-12.medium-offset-1.medium-10.large-offset-2.large-10.columns
          a.brand(ui-sref="home")
            img(src="images/brand.png")
          p
            | Îți mai aduci aminte de cozile de la vot la care am stat în 2014? În 2016 vor exista de două ori mai puține secții de votare. Anul acesta lucrurile pot fi mai simple dacă ne ajuți să mobilizăm toți locuitorii din diaspora. Dacă te înscrii din timp în Registrul electoral vei putea vota fie la o secție de votare deschisă chiar în orașul tău, fie prin corespondență. Afla mai jos care sunt pașii de urmat ca să fim siguri că anul ăsta chiar votăm.

    div(data-ui-view)

    section.share
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          .row.eq
            .box.box-light.small-12.medium-6.columns
              h2 Ce pot face în comunitatea mea?
              p Am pregătit pentru tine o serie de postere si stickere pe care le poți descărca de aici și distribui în locurile în care știi că românii le pot vedea (la magazinele românești din localitate, la universitatea la care mergi, în locurile în care te întâlnești cu alți români cel mai des etc. ) și se pot informa corect despre modul în care pot vota în 2016.
              .share-actions
                a.button(ui-sref="community") Vezi materialele

            .box.box-dark.small-12.medium-6.columns
              h2 Informează-ți prietenii
              p Distribuie aceste informații în social media pentru a ajunge la cât mai mulți români din diaspora. Timpul până la închiderea perioadei de înregistrare în Registrul Electoral este scurt. Urmărește-ne pe pagina de facebook Vot Diaspora și descarcă de acolo imagini de cover pe care să le pui și pe profilul tău sau în grupurile din care faci parte. Dă share informației chiar acum.
              .share-actions
                a.share-cta.email(href="#" socialshare socialshare-provider="email" socialshare-subject="subiect aici" socialshare-body="ceva body aici")
                  i.material-icons &#xE0E1;
                a.share-cta.fb(href="#" socialshare socialshare-provider="facebook" socialshare-text="Vot Diaspora" socialshare-url="http://www.votdiaspora.ro" socialshare-description="bla bla" socialshare-type="feed" socialshare-via="724152821037227") FB
                a.share-cta.tw(href="#" socialshare socialshare-provider="twitter" socialshare-text="bla bla Vot Diaspora" socialshare-url="http://www.votdiaspora.ro" socialshare-hashtags="vot,diaspora,parlamentare2016") TW
                a.share-cta.gp(href="#" socialshare socialshare-provider="google" socialshare-url="http://www.votdiaspora.ro") G+

    footer
      a.soruce(href="http://code4.ro", target="_blank")
        img(src="images/brand-code4.png")

    script( type="text/ng-template" id="locationBox.html" ng-cloak)
      div
        h3( ng-if="parameter.title && parameter.country"  ) {{parameter.title}}, {{parameter.country}}
        div(class="box_info")
          p(class="address" ng-if="parameter.adr")
            span(class="label") Adresa:
            a.info(href="https://www.google.com/maps/dir/Current+Location/{{parameter.adr}}" target="_blank") {{parameter.adr}}
          p(class="phone" ng-if="parameter.tel")
            span(class="label") Telefon:
            a.info(href="tel:{{parameter.tel}}") {{parameter.tel}}
          p(class="email" ng-if="parameter.email")
            span(class="label") E-mail:
            a.info(href="mailto:{{parameter.email}}") {{parameter.email}}


    script( type="text/ng-template" id="markerWindow.html" ng-cloak)
      div(class="mapWindow" ng-cloak)
        location-box

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
