doctype html
html(lang='en' data-ng-app='votDiaspora')
  head
    meta(charset="utf-8")
    meta(robots="index,follow")
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')

    title Vot Diaspora

    link(rel="shortcut icon" href="images/favicon.png")

    meta(property="og:url" content="http://www.votdiaspora.ro/")
    meta(property="og:title" content="Vot Diaspora")
    meta(property="og:description" content="Cum votezi în diaspora în 2016: Află aici cum poți sa te înregistrezi, de ce documente ai nevoie și cum poți proceda pentru a deschide o secție de votare în orașul tău.")
    meta(property="og:site_name" content="Vot Diaspora")
    meta(property="og:image" content="http://www.votdiaspora.ro/images/share.png")
    meta(property="fb:app_id" content="319583755047031")

    //- local - // NOT FOR ONLINE USE
    script(src="//maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places,visualization&key=AIzaSyCmgEeIhijJe689d_bpjPX9Sf1Bsm5fidU")

    //- live - // FOR LIVE USE
    //- script(src="//maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places,visualization&key=AIzaSyDKKW7B-nvqzb7fr6yiK71X7AsNm0fmIa0")

    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81891329-1', 'auto');
      ga('send', 'pageview');

    section.hero-info
      .content.row
        .small-12.medium-offset-1.medium-10.large-offset-2.large-8.columns
          a.brand(ui-sref="home")
            img(src="images/brand.png")
          p
            | Îți mai aduci aminte de cozile de la vot la care am stat în 2014? În 2016 vor exista de două ori mai puține secții de votare. Anul acesta lucrurile pot fi mai simple dacă ne ajuți să mobilizăm toți locuitorii din diaspora. Dacă te înscrii din timp în Registrul Electoral vei putea vota fie la o secție de votare deschisă chiar în orașul tău, fie prin corespondență. Află mai jos care sunt pașii de urmat ca să fim siguri că anul ăsta votăm cu toții.

    div(data-ui-view)

    footer.footer
      .copy
        | &copy; 2016 Code for Society/Code for Romania. Organizație apolitică și nepartizană.
      a.soruce(href="http://code4.ro", target="_blank")
        img(src="images/brand-code4.png")

    script( type="text/ng-template" id="locationBox.html" ng-cloak)
      div
        h3( ng-if="parameter.title && parameter.country"  ) {{parameter.title}}, {{parameter.country}}
        div(class="box_info")
          p(class="address" ng-if="parameter.adr")
            span(class="label") Adresa:
            a.info(href="https://www.google.com/maps/dir/Current+Location/{{parameter.adr}}" target="_blank") {{parameter.adr}}
          p(class="phone" ng-if="parameter.tel")
            span(class="label") Telefon:
            a.info(href="tel:{{parameter.tel}}") {{parameter.tel}}
          p(class="email" ng-if="parameter.email")
            span(class="label") E-mail:
            a.info(href="mailto:{{parameter.email}}") {{parameter.email}}


    script( type="text/ng-template" id="markerWindow.html" ng-cloak)
      div(class="mapWindow" ng-cloak)
        location-box

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
