doctype html
html(lang='en' data-ng-app='votDiaspora')
  head
    title Vot Diaspora
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    script(src='//maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places,visualization&key=AIzaSyCmgEeIhijJe689d_bpjPX9Sf1Bsm5fidU')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body

    section.hero-info
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          img.brand(src="images/brand.png")
          p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of the cosmos extraordinary claims require extraordinary evidence paroxysm of global death, tingling of the spine ship of the imagination Sea of Tranquility, star stuff harvesting star light rings of Uranus concept of the number one brain is the seed of intelligence, paroxysm of global death, take root and flourish, the ash of stellar alchem

    div(data-ui-view)

    section.share
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          .row.eq
            .box.box-light.small-12.medium-6.columns
              h2 Ce pot face in comunitatea mea?
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
              .share-actions
                a.button(ui-sref="community") Vezi materialele

            .box.box-dark.small-12.medium-6.columns
              h2 Informeaza-ti prietenii
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
              .share-actions
                a.share-cta.fb(data-share="fb") FB
                a.share-cta.tw(data-share="tw") TW
                a.share-cta.gp(data-share="gp") G+

    footer
      a.soruce(href="http://code4.ro", target="_blank")
        img(src="images/brand-code4.png")

    script( type="text/ng-template" id="locationBox.html" ng-cloak)
      div
        h3( ng-if="parameter.title && parameter.country"  ) {{parameter.title}}, {{parameter.country}}
        div(class="box_info")
          p(class="address" ng-if="parameter.adr")
            span(class="label") Adresa:
            | {{parameter.adr}}
          p(class="phone" ng-if="parameter.tel")
            span(class="label") Telefon:
            | {{parameter.tel}}
          p(class="email" ng-if="parameter.email")
            span(class="label") Email:
            | {{parameter.email}}

    script( type="text/ng-template" id="markerWindow.html" ng-cloak)
      div(class="mapWindow" ng-cloak)
        location-box

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
