doctype html
html(lang='en' data-ng-app='votDiaspora')
  head
    title Vot Diaspora
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    script(src='//maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places,visualization&key=AIzaSyCmgEeIhijJe689d_bpjPX9Sf1Bsm5fidU')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body

    section.hero-info
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          a(ui-sref="home")
            img.brand(src="images/brand.png")
          p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of the cosmos extraordinary claims require extraordinary evidence paroxysm of global death, tingling of the spine ship of the imagination Sea of Tranquility, star stuff harvesting star light rings of Uranus concept of the number one brain is the seed of intelligence, paroxysm of global death, take root and flourish, the ash of stellar alchem

    div(data-ui-view)

    section.share
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          .row.eq
            .box.box-light.small-12.medium-6.columns
              h2 Ce pot face în comunitatea mea??
              p Am pregătit pentru tine o serie de postere si stickere pe care le poți descărca de aici și distribui în locurile în care știi că românii le pot vedea (la magazinele românești din localitate, la biserica la care mergi de obicei, la universitate, în locurile în care te întâlnești cu alți români cel mai des etc. ) și se pot informa corect despre modul în care pot vota în 2016.
              .share-actions
                a.button(ui-sref="community") Vezi materialele

            .box.box-dark.small-12.medium-6.columns
              h2 Informează-ți prietenii
              p Distribuie aceste informații în social media pentru a ajunge la cât mai mulți români din diaspora. Timpul până la închiderea perioadei de înregistrare în Registrul Electoral este scurt. Urmărește-ne pe pagina de facebook Vot Diaspora și descarcă de acolo imagini de cover pe care să le pui și pe profilul tău sau în grupurile din care faci parte. Dă share informației chiar acum.
              .share-actions
                a.share-cta.fb(data-share="fb") FB
                a.share-cta.tw(data-share="tw") TW
                a.share-cta.gp(data-share="gp") G+

    footer
      a.soruce(href="http://code4.ro", target="_blank")
        img(src="images/brand-code4.png")

    script( type="text/ng-template" id="locationBox.html" ng-cloak)
      div
        h3( ng-if="parameter.title && parameter.country"  ) {{parameter.title}}, {{parameter.country}}
        div(class="box_info")
          p(class="address" ng-if="parameter.adr")
            span(class="label") Adresa:
            a.info(href="https://maps.google.com?daddr={{parameter.adr}}" target="_blank") {{parameter.adr}}
          p(class="phone" ng-if="parameter.tel")
            span(class="label") Telefon:
            a.info(href="tel:{{parameter.tel}}") {{parameter.tel}}
          p(class="email" ng-if="parameter.email")
            span(class="label") Email:
            a.info(href="mailto:{{parameter.email}}") {{parameter.email}}


    script( type="text/ng-template" id="markerWindow.html" ng-cloak)
      div(class="mapWindow" ng-cloak)
        location-box

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
