doctype html
html(lang='en' data-ng-app='votDiaspora')
  head
    title Vot Diaspora
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    script(src='//maps.googleapis.com/maps/api/js?sensor=false')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body

    section.hero-info
      .content.row
        .small-12.medium-offset-1.medium-10
          h1 Diaspora voteaza!
          p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of the cosmos extraordinary claims require extraordinary evidence paroxysm of global death, tingling of the spine ship of the imagination Sea of Tranquility, star stuff harvesting star light rings of Uranus concept of the number one brain is the seed of intelligence, paroxysm of global death, take root and flourish, the ash of stellar alchem

    section.step.step-user-location
      .content.row
        .small-12.medium-offset-1.medium-10
          h1.step-title
            span 1
            | Unde stai?
          .step-content.location
            div(data-ui-view)
          .step-actions
            a.button.large
              | Inregistreaza-te la vot

    section.step.step-user-type
      .content.row
        .small-12.medium-offset-1.medium-10
          h1.step-title
            span 2
            | Rezident sau domicilat?
          .step-content
          .step-actions
            a.button.large
              | Urmatorul pas

    section.step.step-user-vote
      .content.row
        .small-12.medium-offset-1.medium-10
          h1.step-title
            span 3
            | Prin corespondenta sau la o sectie?
          .step-content
          .step-actions
            a.button.large
              | Urmatorul pas

    section.step.step-user-action
      .content.row
        .small-12.medium-offset-1.medium-10
          h1.step-title
            span 4
            | Strange actele si depune-le
          .step-content
          .step-actions
            a.button.large
              | Afla mai multe

    section.step.step-user-vote
      .content.row
        .small-12.medium-offset-1.medium-10
          h1.step-title
            span 5
            | Pana sa ajungi la urne
          .step-content


    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
