doctype html
html(lang='en' data-ng-app='votDiaspora')
  head
    title Vot Diaspora
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    script(src='//maps.googleapis.com/maps/api/js?libraries=drawing,geometry,places,visualization&key=AIzaSyCmgEeIhijJe689d_bpjPX9Sf1Bsm5fidU')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body

    section.hero-info
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          h1 Diaspora voteaza!
          p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of the cosmos extraordinary claims require extraordinary evidence paroxysm of global death, tingling of the spine ship of the imagination Sea of Tranquility, star stuff harvesting star light rings of Uranus concept of the number one brain is the seed of intelligence, paroxysm of global death, take root and flourish, the ash of stellar alchem

    section.step.step-user-location
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          h1.step-title
            span 1
            | Unde stai?
          .step-content.location
            div(data-ui-view)
          .step-actions
            a.button.large
              | Inregistreaza-te la vot

    section.step.step-user-type
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          h1.step-title
            span 2
            | Esti rezident sau domicilat?
          .step-content.row.content
            .fields.small-12.medium-6.columns.show-for-small-only
              .field-input
                input(type="radio", name="user-type", require, id="radio-rezident")
                label(for="radio-rezident") Rezident
              .field-input
                input(type="radio", name="user-type", require, id="radio-domicilat")
                label(for="radio-domicilat") Domicilat
            .small-12.medium-6.columns
              .field-input.hide-for-small-only
                input(type="radio", name="user-type", require, id="radio-rezident")
                label(for="radio-rezident") Rezident
              h2.show-for-small-only Ca rezident
              p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of the cosmos extraordinary claims require extraordinary evidence paroxysm of global death, tingling of the spine ship of the imagination Sea of Tranquility, star stuff harvesting star light rings of Uranus concept of the number
            .small-12.medium-6.columns
              .field-input.hide-for-small-only
                input(type="radio", name="user-type", require, id="radio-domicilat")
                label(for="radio-domicilat") Domicilat
              h2.show-for-small-only Ca domicilat
              p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of the cosmos extraordinary claims require extraordinary evidence paroxysm of global death, tingling of the spine ship of the imagination Sea of Tranquility, star stuff harvesting star light rings of Uranus concept of the number
          .step-actions
            a.button.large
              | Urmatorul pas

    section.step.step-user-vote
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          h1.step-title
            span 3
            | Prin corespondenta sau la o sectie?
          .step-content.row.content
            .fields.small-12.medium-6.columns.show-for-small-only
              .field-input
                input(type="radio", name="user-vote", require, id="radio-corespondenta")
                label(for="radio-corespondenta") Prin corespondenta
              .field-input
                input(type="radio", name="user-vote", require, id="radio-sectie")
                label(for="radio-sectie") La sectie
            .small-12.medium-6.columns
              .field-input.hide-for-small-only
                input(type="radio", name="user-vote", require, id="radio-corespondenta")
                label(for="radio-corespondenta") Prin corespondenta
              h2.show-for-small-only Prin corespondenta
              ul.compare.listing
                li
                  i.material-icons &#xE86C;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE86C;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE000;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE86C;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE000;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE86C;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
            .small-12.medium-6.columns
              .field-input.hide-for-small-only
                input(type="radio", name="user-vote", require, id="radio-sectie")
                label(for="radio-sectie") La sectie
              h2.show-for-small-only La sectie
              ul.compare.listing
                li
                  i.material-icons &#xE86C;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE000;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE000;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE86C;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE000;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE000;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of
                li
                  i.material-icons &#xE86C;
                  p Orion's sword decipherment of brilliant syntheses cosmic fugue not a sunrise but a galaxyrise are creatures of

          .step-actions
            a.button.large
              | Urmatorul pas

    section.step.step-user-action
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          h1.step-title
            span 4
            | Strange actele si depune-le
          .step-content.row
            ul.info.listing.medium-offset-2.medium-8.columns
              li
                i.material-icons &#xE88E;
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
              li
                i.material-icons &#xE88E;
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
              li
                i.material-icons &#xE88E;
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
              li
                i.material-icons &#xE88E;
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
              li
                i.material-icons &#xE88E;
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
          .step-actions
            a.button.large
              | Afla mai multe

    section.step.step-user-vote
      .content.row
        .small-12.medium-offset-1.medium-10.columns
          h1.step-title
            span 5
            | Pana sa ajungi la urne
          .step-content


    script( type="text/ng-template" id="locationBox.html" ng-cloak)
      div
        h2( ng-if="parameter.title && parameter.country"  ) {{parameter.title}}, {{parameter.country}}
        div(class="box_info")
          p(class="address" ng-if="parameter.adr")
            span(class="label") Adresa:
            | {{parameter.adr}}
          p(class="phone" ng-if="parameter.tel")
            span(class="label") Telefon:
            | {{parameter.tel}}
          p(class="email" ng-if="parameter.email")
            span(class="label") Email:
            | {{parameter.email}}

    script( type="text/ng-template" id="markerWindow.html" ng-cloak)
      div(class="mapWindow" ng-cloak)
        location-box

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
