| rezident-corespondenta.html

ul.info.listing.medium-offset-2.medium-8.columns
  li
    i.material-icons &#xE88E;
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
  li
    i.material-icons &#xE88E;
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
  li
    i.material-icons &#xE88E;
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
  li
    i.material-icons &#xE88E;
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.
  li
    i.material-icons &#xE88E;
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit amet, consectetur adipiscing elit. Nulla quam velit.